body{
   
    font-family: willow;
    font-size: 1em;

  
    margin-top: 1em;
    background-image: url("afbeeldingen/back4.png");
}

@font-face {
    font-family: poppins-regular;
    src: url("fonts/poppins-regular.ttf");
  }


  @font-face {
    font-family: willow;
    src: url("fonts/willow.otf")format("opentype");
  }
  

  
  .home{
    background-image: url("afbeeldingen/achtergrond.png");
    background-size: inherit;
    background-attachment: fixed;
    margin: 0; 
  }
  
  body{
      font-family: willow;
      font-size: 1em;
      text-align: center; 
      z-index: -1; 
      margin: 0;
      margin-bottom: 4em;
  }
  
  
  
  .dropbtn { 
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:lightpink;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

  

  header nav{
    display: flex;
  }
  
  .dropdown{
    display: initial;
  }
  header{
    text-align: left; 
    display: flex;
  }
  
  header img{
    height: 30vw;
    width: 40vw;
    margin: 1em 0em 0em 3em;
  }
  

p:nth-of-type(1){
        border: none;
        text-align: center;
        font-size: 1.2em;
}

p{
    font-family: poppins-regular;
    margin: 0.4em;
    text-align: left;
    padding: 1em;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;

  }
h1{
    margin-top: 1em;
    margin-bottom: 0;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em lightpink, 0 0 0.2em white;  
}
  
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 23%;
    padding: 3px;
   
  }

.row{
    margin: 0.5em;
}

.column img{
    border-radius: 1em;
    border-color: #f1dcdc;
    border-width: 0.3em;
    border-style: solid;

}
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }




  
  .navbar {
    background-color: lightpink;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color:rgb(99, 105, 172) ;
    color: white;
  }